[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "africamonitor"]
	path = africamonitor
	url = https://github.com/cran/africamonitor
[submodule "collapse"]
	path = collapse
	url = https://github.com/sebkrantz/collapse
[submodule "dfms"]
	path = dfms
	url = https://github.com/sebkrantz/dfms
[submodule "osmclass"]
	path = osmclass
	url = https://github.com/sebkrantz/osmclass
[submodule "samadb"]
	path = samadb
	url = https://github.com/cran/samadb
[submodule "ugatsdb"]
	path = ugatsdb
	url = https://github.com/cran/ugatsdb
